

		<!-- <a id="aboutUs" class="in-page-link"></a> -->
		<section class="about-us">
			<div class="container">
				<div class="row text-block-pad">
					<h1>About Us</h1>
					<div class="col-md-6">
						<h4>His Story</h4>
							<h6>
								Joshua Emory Bradburn​
							</h6>
							<p>
								I was born in Misawa, Japan and raised in Okinawa. I love the fact that I can call myself a military brat - Not only to acknowledge my families' support of our country, but to also say I have been places and done those things. I grew up like all little boys, loving to play sports and games. Traveling back and forth to Seattle, Las Vegas, and Spokane were routine trips when we were kids. That was the only taste of the states I had. In retrospect, those are now my two favorite things in the world, right after Belinda of course, sports and traveling! Belinda and I have been enjoying our experience together in Seattle, love exploring our city. We work hard and play hard - cannot wait to celebrate the next step with everyone.
						</p>
					</div>
					<div class="col-md-6">
						<h4>Her Story</h4>
						<h6>
							Belinda Phan Nghiem
						</h6>
						<p>
							Unlike Josh, I was born and raised in Seattle and graduated from UW. GO HUSKIES!! Although I didn't grow up abroad, it certainly felt like it. I made frequent trips to Vietnam to visit family, which was the start of my love for exploring new places. That being said, I have always wanted to fill up my passport. Hopefully, Josh and I can travel this next couple of years and make this happen. Along with traveling, I love to eat, go on outdoor activities (even though my recent trip to mailbox peak was a nightmare), spend time with family and friends, and really up for anything new and exciting. Right now, I am taking courses in preparation for applying to PA or ARNP programs and preparing for what is in stored for me as Mrs. Joshua Bradburn!
						</p>
					</div>
				</div>
			</div>
		</section>


	

		

		