	<!-- <a id="accomm" class="in-page-link"></a> -->
		<section class="accom accom-2">
			<div class="container">
				<div class="row ">
					<div class="hotels text-block">
						<div class="col-md-12 text-center">
							<h2>Where To Stay?<br></h2>
								<p id='remove-margn'>We've reserved a block of rooms for our guests at two nearby hotels. </p>
						</div>
						<div class="col-md-6 text-block">
							<a href="https://www.choicehotels.com/econo-lodge" target="_blank">
								<div class="hotels1">
								</div>
							</a>
							<h6>Econo Lodge </h6>
							<p>62 SW Interstate Ave.</p>
							<p>Chehalis, WA 98532</p>
							<p>360-740-5339</p>
						</div>
						<div class="col-md-6 text-block">
							<a href="https://www.bestwestern.com/en_US/book/hotels-in-chehalis/best-western-plus-park-place-inn-suites/propertyCode.48145.html" target="_blank">
								<div class="hotels2">
								</div>
							</a>
							<h6>Best Western Plus Park Place Inn &amp; Suites</h6>
							<p>201 SW Interstate Ave.</p>
								<p>Chehalis, WA 98532</p>
									<p>360-748-4040</p>
						</div>
						<div class="col-md-12 text-center text-block">
							<p>OR...Grab some people and check out www.airbnb.com </p>
							<p>Luckily for us, the owners of the property allowed us to pitch tents. So if you don't mind sleeping outside, under the gorgeous night sky, then this can be an option for you. The tents will be pitched outside of the house our parents have graciously rented and there campers will use the washrooms inside the house or the barn. </p>
						</div>
					</div>
				</div>
			</div>
		</section>