<div class="registry-section accom accom-1 overlay">
	<div class="background-image-holder2">
		<!-- <img alt="Background image" class="background-image" src="img/hero7.jpg"> -->
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center registry-text">
				<h1>Registry</h1>
				<p>Your love, laughter, and company on our&nbsp;wedding day<br>are the most special gift we&nbsp;could ever receive. <br>​<br>Should you still wish to follow tradition&nbsp;and honor us with a wedding gift, <br>a&nbsp;contribution to our first home wishing well<br>at the reception would be warmly received.<br>​<br>If you prefer to surprise us with<br>something more personal, we are sure<br>whatever gift you choose will provide us with<br>years of joy.</p>
			</div>
		</div>
	</div>
</div>
