<!-- <a id="wedding" class="in-page-link"></a> -->
	<section class="details details-1">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 col-sm-6 text-center feature text-block-pad">
					<h2>Ceremony</h2>
					<h6>Join us for our Ceremony Dinner<br> then get ready to party.</h6>
					<h6>Reception</h6>
					<h4>Barn on Jackson​</h4>
					<p>Saturday, May 13th @ 4:30 pm<br>3605 Jackson Hwy<br> Chehalis, WA 98532<br>(360) 269-2843</p>
					<h6>What will the day consist of?</h6>
					<p>
					4:00-4:30 Meet and Greet!
					</p>	
					<p>
					4:30 Ceremony
					</p>
					<p>
					5:00-6:15 Cocktail hour
					</p>
					<p>
					6:30 Bride&Groom Grand Entrance
					</p>
					<p>
					6:45-9:00 Dinner Buffet Opens, Speeches, Toast, First Dance, Cake Cutting
					</p>
					<p>
						9:00 Send off 
					</p>
					<p>
						9:00-12:00 Dancing and Bon Fire
					</p>
					<h6>
						What’s the overall ‘feeling’ you’re aiming for with your celebration:
					</h6>
					<p>
						No need to get too fancy. We're going for a casual but chic feeling (it is on a barn!). <br>Thank you! 
					</p>
					<h6>
						Are there nearby accomodations if we decide to stay the night?
					</h6>
					<p>
						Yes, there is! Chehalis is quite the drive from Seattle (~2hrs). If possible, we highly recommend making a mini vacation out of this and either getting a room at one of the suggested hotels nearby, staying at an airbnb, or camping on the premises. Please refer to the accommodation page.
					</p>
					<h6>
						Note to our out of state family!
					</h6>
					<p>
						For those who are no able to make it, we totally understand and hope to see you sooner than later :) For those who are able to make it, we cannot be more excited to see you all and grateful for you to come share this day with us. Hopefully, some of you will make a vacation out of this and extend your trip to even to a full week. Please let us know what you decide, as we would love to take you around Washington State.
					</p>
					​<p>
						We hope this answers most of the questions you may have. Feel free to send us a message/text/phone call with any other request/concerns! Thank you and we cannot wait to see you soon!
					</p>
				</div>
			</div>
		</div>
	</section>