div.hotels1 {
  width: 285px;
  height: 185px;
  background-image: url('../img/econo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

div.hotels1:hover {
    opacity: 0.7;
}

div.hotels2 {
  width: 285px;
  height: 185px;
  background-image: url('../img/bestwestern.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  /*margin-right: 30px;*/
}

div.hotels2:hover {
  opacity: 0.7;
}
div.hotels {
  margin: 0 auto;
  display: block;
  padding: 0 50px;
  max-width: 700px;
  min-height: 350px;
  overflow: hidden;
  padding: 50px;
}

div.powr-countdown-timer {
  margin-top: 20px;
}


.hero-text {
  margin-top: 300px;
}

.hero-text h1, h4 {
  color: #ffffff;
}

.hero-text h1 {
  font-size: 120px;
  font-weight: 100;
  line-height: 128px;
  margin-bottom: 30px;
}
.hero-text h4#city {
  margin-bottom: 40px;
}
@media (max-width: 380px){
  .hero-text h1 {
    font-size: 48px;
    color: white;
    font-weight: 300;
    line-height: 1.2;
  }
}

.hero-text .btn {
  color: #fff;
  border-color: #fff;
}
.hero-text .btn:hover {
  background: #75c5b1;
  border-color: #75c5b1;
}

div#mygallery {
  margin-top: 100px;
  background: white;
}
.demo-gallery > a:hover > img {
    -webkit-transition: -webkit-transform 0.2s ease 0s;
    -moz-transition: -moz-transform 0.2s ease 0s;
    -o-transition: -o-transform 0.2s ease 0s;
    transition: transform 0.2s ease 0s;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
}

section.about-us {
  text-align: center;
}
section.about-us h1 {
  margin-bottom: 30px;
}
section.about-us h6 {
  color: #75c5b1;
  margin-top: 5px;
  margin-bottom: 20px;
}
ul.menu li a:hover {
  color: white !important;
  background: #75c5b1;
  /*opacity: 0.9; */
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  padding: 10px;
}

.story-3.welcome {
  margin-top: -60px;
}

.text-block {
  background: white;
}
.text-block-pad {
  background: white;
  padding: 30px 50px 50px 50px;
}


#top-pad {
  padding-top: 20px;
}

.gallery-section {
  width: 100%;
  height: 100%;
  background: white;
}

.registry-text {
  margin-top:  100px;
  z-index: 2;
}

.background-image {
  margin-top: 160px;
}

#date {
  margin-bottom: 10px;
}
/*ng-view animation*/

.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.slide.ng-enter,
.slide.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.slide.ng-enter {
    left: 100%;
}
.slide.ng-enter-active {
    left: 0;
}
.slide.ng-leave {
    left: 0;
}
.slide.ng-leave-active {
    left: -100%;
}
.fade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}
.pop {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.pop.ng-enter,
.pop.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.pop.ng-enter {
    -webkit-transform: scale(0);
    transform: scale(0);
}
.pop.ng-enter-active,
.pop.ng-leave,
.pop.ng-leave-active {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.pop.ng-leave-active {}

p#remove-margin {
  margin-bottom: 0 !important;
}
