
<!doctype html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="utf-8">
	<title>Josh and Belinda's Wedding</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="css/flexslider.min.css" rel="stylesheet" type="text/css" media="all"/>
	<link rel="stylesheet" href="/css/flipclock.css" media="screen" title="no title">
	<link href="css/theme.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="css/custom.css" rel="stylesheet" type="text/css" media="all"/>
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700%7CLibre+Baskerville:400,400italic' rel='stylesheet' type='text/css'>
</head>
<body>


	<div class="nav-container">
		<nav class="nav nav-1 transparent light fixed scrolled">
			<a href="#home" class="inner-link logo" target="default">
				<span>Josh &amp; Belinda</span>
			</a>
			<ul class="menu">
				<li><a href="#home" class="inner-link" target="default">Home</a></li>
				<li><a href="#story" class="inner-link" target="default">Our Story</a></li>
				<li><a href="#aboutUs" class="inner-link" target="default">About Us</a></li>
				<li><a href="#wedding" class="inner-link" target="default">Wedding</a></li>
				<li><a href="#accomm" class="inner-link" target="default">Accom</a></li>
				<li><a href="#rsvp" class="inner-link" target="default">RSVP</a></li>
				<li><a href="#eventInfo" class="inner-link" target="default">Event Info</a></li>
				<li><a href="/test" >Gallery</a></li>
			</ul>
			<div class="mobile-toggle">
				<div class="line-1"></div>
				<div class="line-2"></div>
				<div class="line-3"></div>
			</div>
		</nav>

	</div>

	<div class="main-container">

		<section class="header header-2 overlay fadeContent parallax">
			<div class="background-image-holder">
				<img alt="Background image" class="background-image" src="img/_cover.jpg">
			</div>

			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h1>JOSH &amp; BELINDA</h1>
						<h4>May 13th, 2017<br></h4>
						<a href="#rsvp" class="btn inner-link"target="default">RSVP Now</a>
 						<div class="powr-countdown-timer" id="1d337698_1477647158186"></div>
					</div>
				</div>
			</div>
		</section>

		<a id="welcome" class="in-page-link"></a>
		<section class="story story-3">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h1>Hello & Welcome</h1>
						<h6>To Our Wedding Site</h6>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
						<p>
							For those of you who will not be able to make it to our wedding, we thought this would be a great way for us to share all of our experience with you. For all of you who will be attending, all of the information you could ever want to know about us and our wedding will be available for you here.
							​After just shy of four wonderful years together, Josh and I are ecstatic that we'll be able to share our love with our friends and family at Barn on Jackson in Chehalis, WA. The venue is absolutely gorgeous and we cannot wait for you to see it. We know it is quite the trek to Chehalis but we hope it does not discourage you to make the trip! Please see the Event Information page for further details.
							We are looking forward to seeing everyone on the BIG DAY! Thank you to all of our friends and family for supporting us and loving us over the years. Feel free to message us with any questions you may have and check back often as we will be making frequent updates to the website as the plans progress.
							​<br>love, josh&belinda
						</p>
					</div>
				</div>
			</div>
		</section>

		<a id="story" class="in-page-link"></a>
		<section class="story story-3">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h1>Our Story</h1>
						<h6>A serendipitous meeting</h6>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
						<p>
							​We will never forget the day we met! Well, we actually met a time before this, but Belinda's memory has seemed a little hazy meeting each other at Nintendo, while Josh and his boys were playing basketball and she was visiting with Shuk. But the real date, when the stars were aligned, was February 3rd of 2012. Daniel and Shuk had decided to host a Super Bowl party and ironically both of them decided to bring wings as their potluck item. Josh loves wings, if you didn't know, and Belinda is known for making her wings... Let's just say Belinda's first impression of Josh wasn't great. This guy was stealing her shine! Josh will never forget what she wore that day - White T-shirt and a pink bra, the go to outfit! I would say that was the bulk of the excitement of their introduction; arguing over wings the first 10 minutes and watching the game - or trying to, at least. After enjoying all of the food that everyone had brought that day, it was time to claim seats/area to watch the game. Belinda was sitting on the couch with the girls and Josh had strategically sat on the ground, in front of her, placing his big head in Belinda's way. His head was so ginormous that she couldn’t but notice him. We would like to tell you more of what happened that night, but Josh being the shy type, putting his head in the way was his move to get noticed. Later that evening after we both got home from the game, Josh texted Daniel and Shuk to ask for Belinda's number, even though they barely said a word to each other the ENTIRE night. LOL This turned out to be just his style, awkward and weird! From there we could say is history!
						</p>
					</div>
				</div>
			</div>
		</section>

	<a id="gallery" class="in-page-link"></a>

		<section class="story-2">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<img alt="Photo" src="img/jb6.jpg">
						<img alt="Photo" src="img/jb7.jpg">
						<img alt="Photo" src="img/jb8.jpg">
					</div>
				</div>
			</div>
		</section>

		<a id="aboutUs" class="in-page-link"></a>
		<section class="about-us">
			<div class="container">
				<div class="row">
					<h1>About Us</h1>
					<div class="col-md-6 col-md-offset-5">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<h4>His Story</h4>
							<p>
								Joshua Emory Bradburn​
							</p>
							<p>
								I was born in Misawa, Japan and raised in Okinawa. I love the fact that I can call myself a military brat - Not only to acknowledge my families' support of our great country, but to also say I have been places and done those things. I grew up like all little boys, loving to play sports and games. Traveling back and forth to Seattle, Las Vegas, and Spokane were routine trips when we were kids. That was the only taste of the states I had. In retrospect, those are now my two favorite things in the world, right after Belinda of course, sports and traveling! We moved to the States, to Seattle, in 1997. A whole new world... Like all new things, getting used to Seattle and calling it home was difficult. Finding friends and settling in ultimately helped him and the fam opening up to calling it home. In time I have learned to call Washington home, and loving the experience and people. I think the best part of being in WA, and not in the military and on an island, is that I have still those friends around me then today.
						</p>
					</div>
					<div class="col-md-6">
						<h4>Her Story</h4>
						<p>
							Belinda Phan Nghiem
						</p>
						<p>
							Unlike Josh, I was born and raised in Seattle and graduated from UW. GO HUSKIES!! Although I didn't grow up abroad, it certainly felt like it. Since my father's entire family lives in Vietnam, he made it a priority for me to visit them with every spare moment I had. I went back almost every other summer and never wanted to come back (Seattle). I believe that traveling as child fostered my love to explore new places and I hope that Josh and I can fill up our passports before it expires. Along with traveling, I love to eat, outdoor activities, spend time with family and friends, but really up for anything new and exciting. Right now, I am taking courses in preparation for applying to PA or ARNP programs and preparing for what is in stored for me as Mrs. Joshua Bradburn!
						</p>
					</div>
				</div>
			</div>
		</section>

		<a id="engagement" class="in-page-link"></a>
		<section class="story story-3">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h1>The Engagement</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
						<p>
							As the sun rose and as we left our apartment, what seem to be just another dreadful Monday became one of the most memorable day in their lives. Like usual, their day consist of back and forth text and the biggest topic of the day, what's for dinner! They realized they didn't have any groceries at home, so Josh offered to pick Belinda up after work and they'd go grab dinner somewhere at Uvillage. They decided on Chipotle and after dinner, they decided to walk around Uvillage to digest and soak up the gorgeous sunny day Seattle was having. As they were walking around, they quickly realized that Bruno, their dog, was home alone and hasn’t been fed or taken out yet, so they rushed home. Once parked, they grabbed all of their belongings, but Belinda noticed that Josh had left his backpack behind. She told him he should bring it upstairs but he insisted that it will be fine in the car, even though our car got semi broken into earlier that week. As we walked into the apartment, Belinda noticed that their bedroom door was wide open and the bathroom door was completely shut. She immediately thought that someone came into their home and rummaged through their things. Belinda went on a little rampage as Josh tried to persuade her that no one was in the apartment and she was the one who forgot to close the bedroom door and closed the bathroom door (she ALWAYS remember before she heads out of the apartment). Anyhow, Josh brushed it off and told her she can worry about it later and we had to take Bruno out. She agreed and they left. When they got to the lobby, Josh noted that Belinda was right and he shouldn’t have left his backpack in the car. He said he will be right back and ran to the car. Finally, after getting his backpack, they started to walk towards a nearby park. Once at the park, they let Bruno off his leash and roam the area. As he was running around, Josh said he had a surprise for Belinda and out of his backpack; he pulled out their adventure book. He said that he knew it's been awhile since we've added to their book so he took the liberty to add to it. He handed the book over and said "read it, read it." So she did, silently. He said, "Can you please read it aloud." The note that Josh wrote to Belinda was the sweetest. It mentioned how much he care, love, adore her and he is excited for what the future has in stored for them. After the note, he added photos of their adventures together for the past 3.5 years to show that although they haven’t added to their book, the adventures live on. Belinda then turns to the last page and Josh suddenly got so awkward, nervous, emotional that as he tried to stand up and kneel down on one knee, but instead falls over and plopped to the ground. Belinda, confused and worried,  said "Josh are you okay, what's wrong?" Josh could barely annunciate Belinda’s name then she looked closely at the last picture in the book and it was a photo of an engagement ring! At this point, Belinda is so shocked everything after was a blur. Josh said some words that in Belinda’s head was blah blah my heart blah blah my world blah blah marry me. She immediately said nooo! Are you sure?! Can we take this back and do this all over again. Belinda being materialistic, wanted to look nicer than her everyday sweaty messy self. Josh giggled and said “Yes, I am sure and you look beautiful baby!” Belinda grabbed josh's face and kissed him and said she loves him so much. Then josh said welll...patiently waiting for an answer here. She laughed and said DUHHH! Of course! They hugged and kissed as mosquitoes where biting them!! ​
						</p>
					</div>
				</div>
			</div>
		</section>

		<a id="wedding" class="in-page-link"></a>
		<section class="details details-1">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h2>Ceremony</h2>
						<h6>Join us for our Ceremony Dinner<br> then get ready to party.</h6>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-md-offset-4 col-sm-6 text-center feature">
						<h6>Reception</h6>
						<h4>Barn on Jackson​</h4>
						<p>Saturday, May 13th @ 4:30 pm<br>3605 Jackson Hwy<br> Chehalis, WA 98532<br>(360) 269-2843</p>

					</div>
				</div>
			</div>
		</section>


		<a id="accomm" class="in-page-link"></a>
		<section class="accom accom-2">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h2>Where To Stay?<br></h2>
					</div>
				</div>

				<div class="row">
					<div class="hotels">
						<div class="col-sm-6 feature">
							<a href="https://www.choicehotels.com/econo-lodge" target="_blank">
								<div class="hotels1">
									<!-- <img id='econo' alt="Hotel" src="img/econo.jpg"> -->
								</div>
							</a>
							<h6>Econo Lodge </h6>
							<p>122 SW Interstate Ave.<br>Chehalis, WA 98532<br>360-740-5339</p>
						</div>
						<div class="col-sm-6 feature">
							<a href="https://www.bestwestern.com/en_US/book/hotels-in-chehalis/best-western-plus-park-place-inn-suites/propertyCode.48145.html" target="_blank">
								<div class="hotels2">
									<!-- <img id='western' alt="Hotel" src="img/bestwestern.jpg"> -->
								</div>
							</a>
							<h6>Best Western Plus Park Place Inn &amp; Suites</h6>

							<p>201 SW Interstate Ave. <br>Chehalis, WA 98532<br>360-748-4040</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<a id="rsvp" class="in-page-link"></a>
		<section class="rsvp rsvp-2">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h1>Say you'll be there</h1>
						<p>
							Please let us know if you can make it by<br><b> April 13</b> at the latest, preesh!
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 text-center">
						<div class="form-wrapper">
							<form class="form-email" action="/rsvp" method="post">
								<div class="form-section">
									<input type="text" name="name" placeholder="Your Name / Names">
									<div class="radio-group">
										<div class="radio-holder btn checked">
											<span>Can't Wait</span>
											<input type="radio" name="rsvp" value="Attending" checked="checked">
										</div>
										<div class="radio-holder btn">
											<span>Can't Come</span>
											<input type="radio" name="rsvp" value="Not-Attending">
										</div>
									</div>
									<br>
									<p>Number of Guests</p>
									<select name="guests">
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
										<option value="10">10</option>
									</select>

								</div>

								<div class="form-section">
									<input type="text" name="email" placeholder="Email">
									<input type="text" name="address" placeholder="Address">
									<input type="text" name="phone" placeholder="Phone number">
									<input type="text" name="song" placeholder="Any Song Requests?">
									<textarea name="comments" placeholder="Any other comments" rows="4" cols="50"></textarea>
								</div>
								<input id='rsvp-btn'type="submit" value="RSVP">
								<div class="form-error">
									<span>Please fill out all fields</span>
								</div>
								<div class="form-success">
									<span>Thanks for your RSVP!</span>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="accom accom-1 overlay">
			<div class="background-image-holder parallax">
				<img alt="Background image" class="background-image" src="img/hero7.jpg">
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h1>Registry</h1>
						<p>Your love, laughter, and company on our&nbsp;wedding day<br>are the most special gift we&nbsp;could ever receive. <br>​<br>Should you still wish to follow tradition&nbsp;and honor us with a wedding gift, <br>a&nbsp;contribution to our first home wishing well<br>at the reception would be warmly received.<br>​<br>If you prefer to surprise us with<br>something more personal, we are sure<br>whatever gift you choose will provide us with<br>years of joy.</p>
					</div>
				</div>
			</div>
		</section>
<!--
		<section class="gallery gallery-2 overlay">
			<div class="instafeed" data-user-name="tylern06">
				<ul id='insane'></ul>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<a href="#">
							<h1>#HELLO</h1>
							<h6>Share the day on Instagram</h6>
						</a>
					</div>
				</div>
			</div>
		</section> -->
	</div>


	<script src="js/jquery.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/smooth-scroll.min.js"></script>
	<script src = 'bower_components/angular/angular.js'></script>
	<script src="js/placeholders.min.js"></script>
	<script src="js/flexslider.min.js"></script>
	<script src="js/spectragram.min.js"></script>
	<script type="text/javascript" src="js/flipclock.min.js"></script>
	<script src="js/scripts.js"></script>
	<script src="//www.powr.io/powr.js" external-type="html"></script>
</body>
</html>
